APP_NAME=PokerX
APP_ENV=dev
APP_KEY=
SCAN_CACHEABLE=false
HTTP_HOST=127.0.0.1
HTTP_PORT=18080
POKER_WS_HOST=127.0.0.1
POKER_WS_PORT=18081
WORKER_NUM=2
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pokerx
DB_USERNAME=pokerx
DB_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_AUTH=
REDIS_DB=0
REDIS_PREFIX=pokerx:
POKER_PROVIDER=proto
PROTO_URL=
PROTO_HTTP_URL=
PROTO_TOKEN=
PROTO_PLAYER_ID=
PROTO_NETWORK=WE
MOCK_DELAY_MS=50
MOCK_FAILURE=false
POKER_INCOMPLETE_AFTER=1800
